<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.qq4j.mapper.QQMessagesMapper">

  <select id="fetchAnswersByMessage" resultType="QQMessage">
    select
        qq_messages.answer
    ,   count(qq_messages.message_id) as resultCount
    from
        QQ_MESSAGES
    where
        qq_messages.message = #{message}
    and qq_messages.qq = #{qq}
    and (
            qq_messages.owner = #{owner}
        or  qq_messages.PRIVATABLE = 0
    )
    group by qq_messages.answer
    order by resultCount desc
  </select>
  
  <select id="fetchAnswersByIndex" resultType="QQMessage">
    select
        qq_messages.answer
    ,   count(qq_messages.message_id) as resultCount
    from
        qq_messages
            join
        qq_index ON qq_index.message_id = qq_messages.message_id
    where
        word in 
        <foreach item="item" index="index" collection="words"
            open="(" separator="," close=")">
                #{item}
        </foreach>
    and (
           qq_messages.owner = #{owner}
        or qq_messages.PRIVATABLE = 0
    )
    group by qq_messages.answer
    order by resultCount desc
  </select>
  
  <select id="getNewMessageId" resultType="string">
      SELECT 
        1
      FROM 
        DUAL
  </select>

  <insert id="insertMessage" useGeneratedKeys="true">
    insert into qq_messages (
        qq
    ,   owner
    ,   message
    ,   answer
    ) values (
        #{qq}
    ,   #{owner}
    ,   #{message}
    ,   #{answer}
    )
    <selectKey resultType="string" keyProperty="message_id" order="AFTER">
        SELECT @@IDENTITY
    </selectKey>
  </insert>

  <insert id="insertIndex" useGeneratedKeys="true">
    insert into qq_index (
        word
    ,   message_id
    ) values (
        #{word}
    ,   #{message.message_id}
    )
  </insert>

</mapper>