<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.qq4j.mapper.QQUserMapper">

  <select id="fetch" resultType="QQUser">
    select
        account
    ,   faith
    ,   black
    from
        qq_user
    where
        qq = #{qq}
    and account = #{account}
    and del_flg = 0
  </select>
  
  <select id="fetchRanking" resultType="QQUser">
    SELECT 
        account
    ,   faith
    ,   rank 
    FROM
    (
        SELECT
            U.account
        ,   U.faith
        ,   (@rnk := @rnk+1)
        ,   (@rank := IF(@curfaith=faith, @rank, @rnk)) rank
        ,   (@curfaith := faith)
        FROM
            qq_user U
        ,   (SELECT @rnk := 0, @rank := 0, @curfaith := 0) r
        where
            qq = #{qq}
        order by faith desc) A
    where
        account = #{account}
  </select>

  <insert id="insert">
    insert into qq_user (
        account
    ,   qq
    )
    values (
        #{account}
    ,   #{qq}
    )
  </insert>
  
  <update id="update">
    update qq_user
    <set>
        <if test="faith != null">
            faith = #{faith}
        </if>
    </set>
    where
        account = #{account}
    and qq = #{qq}
  </update>
</mapper>