<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.qq4j.mapper.QQUserMapper">

  <select id="fetch" resultType="QQUser">
    select
        account
    ,   faith
    ,   black
    from
        qq_user
    where
        qq = #{qq}
    and account = #{account}
    and del_flg = 0
  </select>
  
  <select id="fetchRanking" resultType="QQUser">
    SELECT 
        account
    ,   faith
    ,   rank 
    FROM
    (
        SELECT
            U.account
        ,   U.faith
        ,   rank() over(order by U.faith desc) as rank
        FROM
            qq_user U
        where
            qq = #{qq}) A
    where
        account = #{account}
  </select>
  
  <select id="fetchUserCount" resultType="int">
    select
        count(account)
    from 
        qq_user
    where
        qq = #{qq}
  </select>

  <insert id="insert">
    insert into qq_user (
        account
    ,   qq
    )
    values (
        #{account}
    ,   #{qq}
    )
  </insert>
  
  <update id="update">
    update qq_user
    <set>
        <if test="faith != null">
            faith = #{faith}
        </if>
        <if test="black != null">
            black = #{black}
        </if>
    </set>
    where
        account = #{account}
    and qq = #{qq}
  </update>
</mapper>